.body__index__cont {
    margin-top: 20px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
    .home__welcome__title {
        padding-top: 30px;
        text-align: center;
    }
    .home__welcome__cont {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        .home__welcome__left {
            img {
                border-radius: 20px;
                padding-left: 10px;
                padding-right: 10px;
                max-width: 100%;
            }
        }
        .home__welcome__right {
            p {
                text-align: center;
                font-size: 17px;
                padding-top: 20px;
                padding-left: 25px;
                padding-right: 25px;
            }
        }
    }
    .home__news {
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 20px;;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 10px;
    }
    .contacto__button__cont {
        justify-self: center;
        max-width: 100%;
    }
}