.body__404__cont {
    display: flex;
    flex-direction: column;
    padding-top: 200px;
    justify-self: center;
    h1 {
        text-align: center;
    }
    p {
        text-align: center;
    }
}