.body__about__cont {
    margin-left: 90px;
    margin-right: 20px;
    .about__cont {
        display: flex;
        flex-flow: row nowrap;
        .about__left {
            img {
                max-width: min-content;
            }
        }
        .about__right {
            p {
                font-size: 20px;
                text-align: left;
            }
        }
    }
}