.body__buenaspracticas__cont {
    padding-top: 30px;
    padding-bottom: 170px;
    .buenaspracticas__title {
        h1 {
            text-align: center;
        }
    }
    .buenaspracticas__text {
        padding-left: 50px;
        padding-right: 50px;
        p {
            text-align: center;
        }
    }
    .buenaspracticas__cont {
        display: flex;
        flex-flow: row wrap;
        gap: 20px;
        padding-top: 10px;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        .buenaspracticas__1 {
            display: flex;
            flex-direction: column;
            .buenaspracticas__link__1 {
                max-width: 200px;
                text-align: center;
                text-decoration: none;
                color: black;
            }
            a {
                img {
                    max-width: 200px;
                }
                
            }
        }
        .buenaspracticas__2 {
            display: flex;
            flex-direction: column;
            .buenaspracticas__link__2 {
                max-width: 200px;
                text-align: center;
                text-decoration: none;
                color: black;
            }
            a {
                img {
                    max-width: 200px;
                }
            }
        }
        .buenaspracticas__3 {
            display: flex;
            flex-direction: column;
            .buenaspracticas__link__3 {
                max-width: 200px;
                text-align: center;
                text-decoration: none;
                color: black;
            }
            a {
                img {
                    max-width: 200px;
                }
            }
        }
        .buenaspracticas__4 {
            display: flex;
            flex-direction: column;
            .buenaspracticas__link__4 {
                max-width: 200px;
                text-align: center;
                text-decoration: none;
                color: black;
            }
            a {
                img {
                    max-width: 200px;
                }
            }
        }
    }
    .buenaspracticas__bottom__text {
        display:flex;
        padding-top: 50px;
        justify-self: center;
        text-align: center;
    }
}